@import "tailwindcss";
@import "@nuxt/ui";

body {
  @apply bg-zinc-100 dark:bg-zinc-900;
}

@theme static {
  --font-tasa-orbiter: 'TASA Orbiter', serif;

  --accent-transparent: #83e6f71d;
  --dot-size: 1px;
  --gap-size: 20px;
  --offset: calc(var(--gap-size) / 2);
}

.typography ul {
  list-style-type: disc;
  padding-left: 1.375rem;
}
.typography li {
    padding-left: .625rem;
}
.typography>* {
    margin-top: 1.5rem;
}